 .input {
  width: 352px;
  height: 72px;
  background: #FAFAFC;
  border: 1px solid #E6E6F0;

  display: flex;
  align-items: center;
  justify-content: center;
}

 .input label {
    font-size: 1.4rem;
}

 .input input {
    width: 304px;
    color: #6A6180;
}

